<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elite Media | Contact Us</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="{{ url_for('static', filename='img/elite-media.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-us.css') }}">
</head>
<body>
    <h1>Contact Us</h1>
    <form id="contactForm" method="post" action="{{ url_for('contact_us') }}">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br>
        <div class="h-captcha" data-sitekey="NONE"></div><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>