<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elite Media | Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="website icon" href="{{ url_for('static', filename='elite-media.png') }}">
</head>
<body>
    <img class="icon" src="{{ url_for('static', filename='elite-media.png') }}" alt="Icon" draggable="false">
    <a href="{{ url_for('upload') }}">Upload</a>
    <a href="{{ url_for('view_files') }}">View</a>
    <a href="{{ url_for('contact_us') }}">Contact Us</a>
</body>
</html>